<style scoped>
    .row {
        display: flex;
    }
</style>

<template>
    <div>
        <p>{{gameStatus}}<p>
        <div>
            <div v-for="y in rows">
                <div class="row">
                    <div v-for="x in cols">
                        <cell v-bind:value="cellValues[y - 1][x - 1]" v-on:update="setCellValue(y - 1, x - 1, $event)"></cell>
                    </div>
                </div>
            </div>
        </div>
        <button v-on:click="resetValues">Reset</button>
    </div>
</template>
<script>
    let Cell = require("./cell.vue");
    let Vue = require("vue");
    let ROWS = 3;
    let COLS = 3;

    module.exports = {
        components: {cell: Cell},
        data: function() {
            let cellValues = [];
            for (let i = 0; i < ROWS; i++) {
                let row = [];
                for (let j = 0; j < COLS; j++) {
                    row.push(null);
                }
                cellValues.push(row);
            }
            return {
                cellValues,
                rows: ROWS,
                cols: COLS,
                gameStatus: 0
            };
        },
        methods: {
            setCellValue: function(y, x, value) {
                Vue.set(this.cellValues[y], x, value);
                let self = this;
                fetch("/evaluate?position=" + this.position).then(function(response) {
                    response.text().then(function(data) {
                        self.gameStatus = JSON.parse(data).result;
                    })
                })
            },
            resetValues: function(event) {
                for (let i = 0; i < this.rows; i++) {
                    for (let j = 0; j < this.cols; j++) {
                        Vue.set(this.cellValues[i], j, null);
                    }
                }
                this.gameStatus = 0;
            }
        },
        computed: {
            position: function() {
                let position = "";
                for (let i = 0; i < this.rows; i++) {
                    for (let j = 0; j < this.cols; j++) {
                        if (this.cellValues[i][j] === null) {
                            position += "n";
                        } else {
                            position += this.cellValues[i][j];
                        }
                    }
                }
                return position;
            }
        }
    };
</script>
