<style scoped>
    div {
        border: 1px solid black;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
</style>

<template>
    <div v-on:click="send">{{value}}</div>
</template>

<script>
    let ORDER = [null, "X", "O"];
    module.exports = {
        props: ["value"],
        methods: {
            send: function(event) {
                let nextValue;
                for (let i = 0; i < ORDER.length; i++) {
                    if (this.value === ORDER[i]) {
                        nextValue = ORDER[(i + 1) % ORDER.length];
                        break;
                    }
                }
                this.$emit("update", nextValue);
            }
        }
    };
</script>
