<style scoped>
</style>

<template>
    <div>
        <page v-on:update="getReviews"></page>
        <div v-for="i in reviewNumber">
            <review v-bind:text="reviewText[i - 1]" v-bind:name="reviewName[i - 1]"></review>
        </div>
    </div>
</template>

<script>
    let Page = require("./page.vue");
    let Review = require("./review.vue");
    let Vue = require("vue");
    let LIMIT = 3;
    module.exports = {
        components: {page: Page, review: Review},
        data: function() {
            let reviewText = [];
            let reviewName = [];
            for (let i = 0; i < LIMIT; i++) {
                reviewText.push(null);
                reviewName.push(null);
            }
            return {
                reviewText,
                reviewName,
                reviewNumber: 0
            };
        },
        created: function() {
            let self = this;
            fetch("/list").then(function(response) {
                response.text().then(function(data) {
                    let fetchedReviews = JSON.parse(data);
                    self.reviewNumber = fetchedReviews.length;
                    for (let i = 0; i < self.reviewNumber; i++) {
                        Vue.set(self.reviewText, i, fetchedReviews[i].text);
                        Vue.set(self.reviewName, i, fetchedReviews[i].name);
                    }
                })
            });
        },
        methods: {
            getReviews: function(event) {
                let self = this;
                fetch("/list").then(function(response) {
                    response.text().then(function(data) {
                        let fetchedReviews = JSON.parse(data);
                        self.reviewNumber = fetchedReviews.length;
                        for (let i = 0; i < self.reviewNumber; i++) {
                            Vue.set(self.reviewText, i, fetchedReviews[i].text);
                            Vue.set(self.reviewName, i, fetchedReviews[i].name);
                        }
                    });
                });
            }
        }
    }
</script>
