<style scoped>
</style>

<template>
    <div>
        <input type="checkbox" v-model="visible">
        <input type="textarea" v-model="reviewText">
        <input v-show="visible" type="text" v-model="reviewName">
        <button type="button" v-on:click="postReview">Post review!</button>
    </div>
</template>

<script>
    module.exports = {
        data: function() {
            return {
                visible: true,
                reviewText: "",
                reviewName: ""
            }
        },
        methods: {
            postReview: function(event) {
                let name = this.reviewName;
                if (!this.visible) {
                    name = "?";
                }
                let review = {
                    text: this.reviewText,
                    name: name
                };
                let self = this;
                fetch("/post", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    body: JSON.stringify(review)
                })
                .then(function(response) {
                    response.text().then(function(data) {
                        self.$emit("update");
                    })
                })
                this.reviewText = "";
                this.reviewName = "";
                this.visible = true;
            }
        }
    }
</script>
