<style scoped>
</style>

<template>
    <div>
        <div>{{text}}</div>
        <div v-if="visible">{{name}}</div>
    </div>
</template>

<script>
    module.exports = {
        props: ["text", "name"],
        data: function() {
            let visible;
            if (this.name === "?") {
                visible = false;
            } else {
                visible = true;
            }
            return {
                "visible": visible
            }
        }
    }
</script>
